@import '../theme.css';

.favorites-carousel {
  margin-top: 3rem;
}

.carousel-container {
  touch-action: pan-y;
  display: flex;
  overflow-x: hidden;
  background-color: var(--card-bg);
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
}

.carousel-container:hover {
  cursor: grab;
}

.carousel-card {
  transition: transform 0.07s ease;
  will-change: transform;
  flex: 0 0 auto;
  background: var(--surface-bg);
  border-radius: 8px;
  width: 150px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 2px 5px var(--shadow);
  overflow: hidden;
}

.anime-title {
  font-weight: 500;
  overflow: hidden;
  margin: 8px;
}

.title-wrapper {
  position: relative;
  font-weight: 500;
  overflow: hidden;
  margin: 8px;
}

.scrolling-title {
  display: inline-block;
  white-space: nowrap;
  animation: none;
  position: relative;
}

.carousel-card:hover .scrolling-title.scrollable {
  animation: scroll-loop 6s linear infinite;
}

.scrolling-title.scrollable::after {
  content: attr(data-text);
  padding-left: 2rem;
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.anime-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
