@import './theme.css';
@import './fonts.css';

body {
  margin: 0;
  font-family: 'Montserrat';
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
